/* GENERAL STYLES */

body {
    height: 100vh;
    /* border: 3px solid pink; */
    /* background-color: rgb(236, 241, 252); don't need this in both places */
}

#main {
    height: auto;
    background-color: rgb(236, 241, 252);
    box-shadow: inset 0 0 20px 0 rgba(174, 187, 251, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: 3px solid blueviolet; */
}

h1 {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-weight: bold;
  }

h3 {
    color: white !important;
    padding-top: 10px;
    font-size: 2.5rem !important;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

/* I would move main button styles up here as well, as they are general styles. */


/* TOP BANNER */

#topbanner {
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: -.5rem;
    padding-left: 2rem;
    padding-right: 2.5rem;
    padding-bottom: .25rem;
    background-color: white;
    z-index: 30;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

a {
    font-size: 22px;
    font-weight: 300;
    margin-right: 1rem;
    text-decoration: none;
    color: rgb(80, 150, 248);
    z-index: 10;
    text-decoration: none !important;
    }

a:hover {
    font-weight: 900;
    color: green;
}
    
.logo {
    padding-right: 1rem;
}

.logo-title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    padding-left: 0rem;
    padding-bottom: .25rem;
}

.logo {
    width: 5rem;
    height: 5rem;
}

/* sophie image and quote and contact buttons */

.sophie_and_quote {
    display: flex;
    /* min-height: 100vh; */
    width: 70vw; /* The width here should help keep everything together even as the screen size grows */

    margin-top: 15rem;
    /* border: 1px solid red; */
    flex-direction: row;
    justify-content: center;
}

#sophie {
    display: flex;
    /* width: 20rem; */
    align-self: flex-end;
    margin-left: 4rem;
}

.sophie_img {
    /* width: 27rem; put this down in media sizing */
    margin-right: auto;
    transform: scaleX(-1);
    z-index: 2;
    margin-bottom: -11rem;
}

#quote-container {
    display: flex;
    flex-direction: column; 
    justify-content: center; 

    position: relative;
    margin: 0;
    padding: 0;

    align-items: center; 
}

.quote {
    display: flex;
    align-items: flex-start;
    height: 30rem;
    margin-left: -10rem;
    margin-right: 1rem;
}

/* #quote-text {
    font-family: "Raleway", sans-serif;
    font-weight: 1000;
    letter-spacing: 2px;
    position: absolute;
    width: 80%;
    height: 20rem;
    font-size: x-large;
    top: 31.5%;
    left: 46.5%;
    transform: translate(-50%, -50%);
    color: grey;
}


#sophie-quote {
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
margin: 0rem;
padding: 0rem;
} */

.contact_buttons {
    margin: 0rem;  
}

.contact_btn {
    margin-right: 2rem;
    margin-left: 2rem;
    color: #fff;
    font-weight: bolder;
    font-size: 4rem;
    padding: 13px 18px;
    border: none; 
    border-radius: 10px; 
    cursor: pointer; 
    font-size: 28px; 
}

.contact_btn1 {
    background-color: rgb(80, 150, 248);
}

.contact_btn2 {
    background-color: #34b552;
    color: #fff;
}

.expandable-btn.contact_btn1.active, .expandable-btn.contact_btn2.active {
    background-color: rgb(235, 210, 16);
    text-shadow: 
    -1px -1px 0 rgba(0, 0, 0, 0.1),  
     1px -1px 0 rgba(0, 0, 0, 0.1),
    -1px  1px 0 rgba(0, 0, 0, 0.1),
     1px  1px 0 rgba(0, 0, 0, 0.1);
}


/* service packages */

#services {
    margin-top: 11rem;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:white;
    border-radius: 10px;
    /* width: 70vw; */
    width: 80%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 2rem;
}

#services_title {
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
    font-family: "Raleway", sans-serif;
    color:rgb(80, 150, 248);
}

.discount {
    font-size: 24px;
    font-style: italic;
}

.row1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.row2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.expandable-btn {
    margin: 1rem;
    color: #fff;
    font-weight: bolder;
    padding: 10px 20px; 
    border: none; 
    border-radius: 10px; 
    cursor: pointer; 
    font-size: 30px; 
}

.expandable-btn:hover {
    background-color: rgb(235, 210, 16);
    text-shadow: 
    -1px -1px 0 rgba(0, 0, 0, 0.1),  
     1px -1px 0 rgba(0, 0, 0, 0.1),
    -1px  1px 0 rgba(0, 0, 0, 0.1),
     1px  1px 0 rgba(0, 0, 0, 0.1);
     transform: scale(1.05)
}

.expandable-btn.active {
    background-color: rgb(235, 210, 16);
    text-shadow: 
    -1px -1px 0 rgba(0, 0, 0, 0.1),  
     1px -1px 0 rgba(0, 0, 0, 0.1),
    -1px  1px 0 rgba(0, 0, 0, 0.1),
     1px  1px 0 rgba(0, 0, 0, 0.1);
}

.expandable-btn1 {
    background-color: rgb(73, 175, 73);
}
.expandable-btn2 {
    background-color: rgb(80, 150, 248);
}
.expandable-btn3 {
    background-color: rgb(73, 175, 73);
}
.expandable-btn4 {
    background-color: rgb(80, 150, 248);
}
.expandable-btn5 {
    background-color: rgb(73, 175, 73);
}
.expandable-btn6 {
    background-color: rgb(80, 150, 248);
}

.expanded {
    display: block;
}

.expanded_area1 {
    display: flex;
    justify-content: center;
  }

.expanded_area2 {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}

.expandable-content {
    display: none;
}

/* dynamically created in JS script */
.expandable-paragraph {
    font-size: 1.5vw;
    padding: 1rem;
    color: grey;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.7);
}

/* under service packages-expandable booking appointments */

.scheduling-section {
    display: none;
    text-align: center;
    margin: 20px 0;
}

/* #booking_title {
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
    font-family: "Raleway", sans-serif;
    color:rgb(80, 150, 248);
} */

.booking_btn {
        margin: 1rem;
        color: #fff;
        font-weight: bolder;
        padding: 10px 20px;
        border: none;
        border-radius: 10px; 
        cursor: pointer; 
        font-size: 30px; 
        color: white;
        background-color: rgb(80, 150, 248);
    }

.expandable-btn-book {
        color: #fff;
        font-weight: bolder;
        padding: 10px 20px; 
        border: none; 
        border-radius: 10px; 
        cursor: pointer; 
        background-color: rgb(245, 119, 190);
        font-size: 30px;
    }
    
#scheduling {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

/* #booking {
    margin-top: 2rem;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:white;
    border-radius: 10px;
    width: 70vw;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 2rem;
} */



/* gallery and mission */
.gallery_mission {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* gallery */
#gallery_title {
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
    font-family: "Raleway", sans-serif;
    color:rgb(80, 150, 248);
}

/* #gallery_title {
    font-size: 40px;
    font-weight: bolder;
    padding: 1rem;
    font-family: "Raleway", sans-serif;
} */

#gallery {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    width: 420px;
    max-width: 100%;
    height: 925px;
    overflow-y: scroll;
    scrollbar-width: thick;
    scrollbar-color: rgb(80, 150, 248) white;
    margin-top: 3rem;
    margin-right: 1rem;
}

#gallery::-webkit-scrollbar {
    width: 10px;
}

#gallery::-webkit-scrollbar-thumb {
    background-color: rgb(80, 150, 248);
    border-radius: 5px; 
}

.video-container {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.scroll_text {
    font-size: 20px;
    font-weight: bolder;
    font-family: "Raleway", sans-serif;
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bold-text {
    font-weight: bold !important;
}


/* mission section */
.mission-statement {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin-top: 3rem;
}

.mission-statement h2, 
.mission-statement h3 {
    font-size: 40px;
    font-weight: bolder;
    font-family: "Raleway", sans-serif;
    color:rgb(80, 150, 248);
}

p {
    margin: 1rem;
    margin-top: 1rem !important;
}
.mission-statement p {
    color: #555;
    line-height: 1.6;
}

.mission-statement ul {
    list-style-type: none;
    padding: 0;
}

.mission-statement li {
    margin: 10px 0;
    color: #555;
}

.mission-statement strong {
    color: #333;
}

/* contact section */

#contactSection {
    padding: 50px;
    background-color: #f9f9f9;
    text-align: center;
}

.contact_background {
    display: flex;
    justify-content: center;
    background-color: rgb(80, 150, 248);
    flex-direction: column;
    width: 72%;
align-items: center;
margin-top: 3rem;
border-radius: 10px;
padding-top: 1rem;
padding-bottom: 2rem;
}

.contact-form {
    max-width: 600px;
    margin: 0 auto;
}

.contact-form form {
    display: grid;
    grid-gap: 20px;
}

.contact-form label {
    font-weight: bold;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.contact-form textarea {
    resize: vertical;
}

.contact-form button {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: #0056b3;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

input {
    background-color: white;
    width: 80%;
    margin-left: 12%;
    font-size: 20px;
    padding: 16px 16px;
    border-radius: 10px;
    border-color: black;
    margin-bottom: 1rem !important;
    border-width: 1px;
}

textarea {
background-color: white;
width: 80%;
font-size: 20px;
padding: 16px 16px;
border-radius: 10px;
border-color: black;
border-width: 1px;
margin-bottom: 1rem !important;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

input:focus-within {
outline: none;
border-color: #5bd183;
border-width: 5px;
}

textarea:focus-within {
    outline: none;
    border-color: #5bd183;
    border-width: 5px;
}

.form_button {
    background-color: #5bd183;
    border-radius: 20px;
    border-color: white;
    color: white;
    font-weight: bold;
    font-size: 22px;
    padding: 10px 18px;
    text-align: center;
    display: flex;
    margin: auto;
}

.form_button:hover {
    opacity: 80%;
    cursor: pointer;
}


/* REVIEW SECTION */

.reviews {
    width: 72%;
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: grey;
    margin: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 30rem;
}
  
/* title text */
#reviews {
    font-size: 40px;
    font-weight: bolder;
    font-family: "Raleway", sans-serif;
    color:rgb(80, 150, 248);
    
}

.review_img_1 {
    height: 300px;
    width: 300px;
    border-radius: 20px;
    border: 2px solid rgb(178, 176, 176);
}

.review1 {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    align-self: center;
    width: 100%;
    height: 80%; /* Set height to 80% of the containing div */
    overflow-y: auto; /* vertical scrollbar if content exceeds height */
}

/* MEDIA BREAKPOINTS */

@media (max-width: 400px) {
    #main {
        background-color: purple;
    }
    /* css for screens below or equal to 600px wide */
    #quote-text {
        width: 40rem;
        font-size: x-large;
    }

    #quote-container {
        margin-left: -3rem;
        display: inline-block;
    }

    .quote {
        /* display: inline-block; */
        position: relative;
        width: 30rem;
        height: 41rem;
        margin-top: -6rem;
    }

    #quote-text {
        position: absolute;
        width: 15rem;
        height: 20rem;
        /* width: 20rem; */
        font-size: x-large;
        /* margin-top: -10rem;
        padding-bottom: 3rem; */
    }
    .gallery_mission {
        flex-direction: column;
    }
}

/* MEDIA BREAKPOINTS */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    /* #main {
        background-color: blue;
    } */
    #sophie {
        margin-left: 5rem;

    }
    .sophie_img {
        width: 16rem;

    }
    .quote {
        height: 16rem;
        margin-left: -16.5rem;
        margin-right: 2rem;
        margin-top: -5rem;
    }

    .contact_buttons {
        margin-top: -2rem;
            }

    .contact_btn {
        margin-right: 2rem;
        margin-left: 2rem;
        font-size: 4rem;
        padding: 13px 18px;
    }

    .gallery_mission {
        flex-direction: column;
    }

    .mission-statement {
        width: 80%;
            }

    .reviews {
        max-height: 50rem;
    }
    .review1 {
        justify-content: start;
        align-items: center;
        flex-direction: column;
        overflow-y: auto; /* vertical scrollbar if content exceeds height */
    }
    .expandable-btn {
        font-size: 15px;
    }
    #services {width: 90%;}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 767px) {
    /* #main {
        background-color: green;
    } */
    #sophie {
        margin-left: 2rem;
    }
    .sophie_img {
        width: 18rem;
    }

    .quote {
        height: 16rem;
        margin-left: -12rem;
        margin-right: 1rem;
    }

    .contact_buttons {
margin-right: 1.2rem;
    }

    .gallery_mission {
        flex-direction: column-reverse;
    }

    .mission-statement {
width: 80%;
    }

    .review1 {
        justify-content: start;
        align-items: center;
        flex-direction: column;
        overflow-y: auto; /* vertical scrollbar if content exceeds height */
    }
    .expandable-btn {
        font-size: 17px;
    }
    #services {width: 90%;}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    /* #main {
        background-color: yellow;
    } */
    #sophie {
        margin-left: 4rem;
    }
    .sophie_img {
        width: 20rem;
    }
    .quote {
        height: 20rem;
        margin-left: -12rem;
        margin-right: 1rem;
    }
    .gallery_mission {
        flex-direction: column-reverse;
    }
    .mission-statement {
        width: 80%;
            }

    .review1 {
        justify-content: start;
        align-items: center;
        flex-direction: column;
        overflow-y: auto; /* vertical scrollbar if content exceeds height */
    }
    .expandable-btn {
        font-size: 20px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    /* #main {
        background-color: orange;
    } */
    #sophie {
        margin-left: 5rem;
    }
    .sophie_img {
        width: 25rem;
    }
    .quote {
        height: 25rem;
        margin-left: -10rem;
        margin-right: 1rem;
    }
    .gallery_mission {
        flex-direction: row;
        width: 90%;
        align-items: start;}

    .mission-statement {
        width: 60%;
    }

    .review1 {
        justify-content: start;
        align-items: center;
        flex-direction: column;
        overflow-y: auto; /* vertical scrollbar if content exceeds height */
    }
    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    /* #main {
        background-color: pink;
    } */
    #sophie {
        margin-left: 8rem;
    }
    .sophie_img {
        width: 27rem;
    }
    .quote {
        height: 30rem;
        margin-left: -10rem;
        margin-right: 1rem;
    }
    .gallery_mission {
        flex-direction: row;
        width: 90%;
        align-items: start;
    }
    .mission-statement {
        width: 100%;
    }
    .review1 {
        flex-direction: row;
    }
}
