body {
    height: 100vh; /* 100% of viewport height */
    background-color: rgb(236, 241, 252);
}

#main {
    width: 100%;
    height: 100%;
    background-color: rgb(236, 241, 252);
    box-shadow: inset 0 0 20px 0 rgba(174, 187, 251, 0.5);
    display: flex;
    justify-content: center;
}

h1 {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-weight: bold;
  }

a {
    font-size: 22px;
    margin-right: 1rem;
    text-decoration: none;
    color: rgb(80, 150, 248);
    z-index: 10;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-style: italic;
    }
  
#quote-container {
    display: inline-block;
    background-color: blue;
    position: relative;
    margin-top: -3rem;
    z-index: 0;
}

#quote-text {
    position: absolute;
    top: 36%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(135, 133, 133);
    text-align: left;
    width: 40rem;
    font-size:xx-large;
}

#sophie-quote {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin: 0rem;
    padding: 0rem;
}

.logo {
    width: 4rem;
    height: 5rem;

}

.logo-title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    padding-left: 0rem;
    padding-bottom: .25rem;
}

.logo {
    padding-right: 1rem;
}

#topbanner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: -1rem;
    padding-left: .5rem;
    padding-right: 1rem;
    padding-bottom: .25rem;
    background-color: white;
    position: relative;
    z-index: 10;
}

#sophie2 {
display: inline-block;
width: 20rem;
}

.sophie_img {
    width: 20rem;
}
.quote {
    width: 60rem; 
    height: 50rem;
    transform: scaleX(-1);
}

@media (max-width: 600px) {
    /* css for screens below or equal to 600px wide */

}